# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
3DEngine/
Evil3DFeathersSkin/
Evil3DStarling/
Game3DEngine/
GameClientInitCore/
GameLibrary/
GameNetLibrary/
src_old

# ctage
tags
ctags.sh

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/.project
/.metadata
